local all postgres peer
local all all md5
#local all all 0.0.0.0/0 md5
host all all ::1/128 md5
host {{ replication_db }} {{ replication_user }} {{ hostvars[groups['backup'][0]]['ansible_ssh_host'] }}/32  md5
