standby_mode = 'on'
primary_conninfo = 'host={{ hostvars[groups['primary'][0]['ansible_ssh_host']] }} port=5432 user={{ replication_user }} password={{ replication_user_password }}'
trigger_file = '{{ failover_trigger_file }}'
restore_command = 'cp {{ replication_archive }}/%f "%p"'
